/*** VARIABLES ***/
$soft-green: #4A8262;
$dark-green: #42574B;
$gray: #EBE8D7;
$dark-gray: #999;

$self-msg: #aefcb2;
$marta-msg: #fceac2;
$xavi-msg: #afffd7;
$jose-msg: #f9ff91;
$lolo-msg: #ffc9ff;
$mari-msg: #dbffb2;
$lina-msg: #f5ffaa;
$laia-msg: #ccf6ff;
$jessi-msg: #8ffcbb;
$mario-msg: #edfcab;
$antonio-msg: #bfffb2;
$paula-msg: #a1fcde;
$lourdes-msg: #fceac2;
$pere-msg: #afffd7;

/*** GENERAL ***/
body {
  background-color: $gray;
  &.beamer { background-color: black; }
  font-size: 16px;
  font-family:  Helvetica, sans-serif;
  color: $dark-green;
}
a {
  color: $soft-green;
}
.app.list-group-item a {
  display: inline-block;
  width: calc(100vw - 65px);
  width: -moz-calc(100vw - 65px);
}
.btn-success {
  background-color: $soft-green;
}
.emoji {
  width:28px;
  max-height:45px;
}

/*** APP ***/
body.app {
  .list-group-item a {
    display: inline-block;
    width: calc(100vw - 65px);
    width: -moz-calc(100vw - 65px);
  }
}

/*** MODAL ***/
.modal {
  .modal-dialog {
    width: 80%;
  }
  .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
  }
  .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
  }
  .modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
  }
  .modal-body {
    text-align: center;
    img {
      display: inline;
    }
  }
}

/*** NAVIGATION ***/
.username {
  background-color: $dark-gray;
  color: white;
  text-align: center;
  height: 20px;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav {
  background-color: $gray;
  width: 100%;
  &.app {
    position: fixed;
    z-index: 1;
    top: 20px;
  }
  &.nav-pills {
    border-bottom: 1px solid #ddd;
    li.active a {
      background-color: $soft-green;
    }
  }
  .participation-button {
    padding: 10px 15px;
    background-color: $soft-green;
    color: white;
  }
}

/*** CONTENT ***/
.chatscreen {
  background: url("/images/giftly.png") repeat scroll 0 0;
}
.undernav.app {
  padding-top: 64px;
  &.chat-selector {
    li.closed {
      display: none;
    }
  }
}
.chat-pane {
  [scroll-glue] {;
    overflow-y: scroll;
  }
  .message-pane {
    &.app {
      height: calc(100vh - 160px);
      height: -moz-calc(100vh - 160px);
      .no-csscalc.no-cssvhunit & {
        height: 80vh;
      }
      /*.csscalc.cssvhunit & {
        height: 80vh;
      }*/
    }
    &.beamer, &.beamer2 {
      height: calc(100vh - 122px);
      height: -moz-calc(100vh - 122px);
    }
    &.admin, &.admin2 {
      max-height: 625px;
    }
    &.app { margin-top: 60px; }
    ul {
      padding: 0px;
    }
    li {
      padding: 0.5rem;
      overflow: hidden;
      display: flex;
    }
    .self {
      justify-content: flex-end;
      align-items: flex-end;
    }
    .msg {
      background-color: #fff;
      min-width: 50px;
      padding: 10px;
      border-radius: 2px;
      max-width: 85%;
      .user {
        font-size: 14px;
        color: $dark-gray;
        font-weight: bold;
      }
      .text {
        margin: 5px 0;
      }
      .date {
        font-size: 12px;
        color: $dark-gray;
      }
    }
    .Marta .msg { background-color: $marta-msg; }
    .Xavi .msg { background-color: $xavi-msg; }
    .Jose .msg { background-color: $jose-msg; }
    .Lolo .msg { background-color: $lolo-msg; }
    .Mari .msg { background-color: $mari-msg; }
    .Lina .msg { background-color: $lina-msg; }
    .Laia .msg { background-color: $laia-msg; }
    .Jessi .msg { background-color: $jessi-msg; }
    .Mario .msg { background-color: $mario-msg; }
    .Antonio .msg { background-color: $antonio-msg; }
    .Paula .msg { background-color: $paula-msg; }
    .Lourdes .msg { background-color: $lourdes-msg; }
    .Pere .msg { background-color: $pere-msg; }

    .self .msg {
      border-bottom-right-radius: 0px;
      box-shadow: 1px 2px 0px #c1cbcd;
      background-color: $self-msg;
    }
    .other .msg {
      border-top-left-radius: 0px;
      box-shadow: -1px 2px 0px #c1cbcd;
    }
    .other:before {
      content: "";
      position: relative;
      top: 0px;
      right: 0px;
      left: 0px;
      width: 0px;
      height: 0px;
      border: 5px solid #fff;
      .no-flexbox & {
        display: none;
      }
    }
    .Marta:before { border: 5px solid $marta-msg; }
    .Xavi:before { border: 5px solid $xavi-msg; }
    .Jose:before { border: 5px solid $jose-msg; }
    .Lolo:before { border: 5px solid $lolo-msg; }
    .Mari:before { border: 5px solid $mari-msg; }
    .Lina:before { border: 5px solid $lina-msg; }
    .Laia:before { border: 5px solid $laia-msg; }
    .Jessi:before { border: 5px solid $jessi-msg; }
    .Mario:before { border: 5px solid $mario-msg; }
    .Antonio:before { border: 5px solid $antonio-msg; }
    .Paula:before { border: 5px solid $paula-msg; }
    .Lourdes:before { border: 5px solid $lourdes-msg; }
    .Pere:before { border: 5px solid $pere-msg; }
    .other:before {
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
    .self:after {
      content: "";
      position: relative;
      display: inline-block;
      float: right;
      bottom: 0px;
      right: 0px;
      width: 0px;
      height: 0px;
      border: 5px solid $self-msg;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 0px 2px 0px #c1cbcd;
      .no-flexbox & {
        display: none;
      }
    }
    .label {
      font-size: 1em;
      margin: 10px auto 0px;
    }
  }
}
.chat-form {
  height: 50px;
  margin-top: 10px;
  padding: 0 15px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  .emoji-button {
    color: $dark-gray;
    background-color: transparent;
    padding-left: 0px;
    width: 33px;
    display: inline;
  }
  input {
    width:-moz-calc(100% - 77px);
    width:calc(100% - 77px);
    height: 39px;
  }
  .text-field,
  .text-input {
    width:-moz-calc(100% - 44px);
    width:calc(100% - 44px);
    .no-csscalc & {
      width: 200px;
    }
    min-height: 39px;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    padding: 8px 3px;
    display: inline;
    &.non-editable {
      width: 100%;
      background-color: $gray;
    }
  }
  button {
    width: 44px;
    height: 41px;
    border: none;
    display: inline;
  }
}
.emoji-selector {
  display: none;
  bottom: 0px;
  height: 225px;
  width: 100%;
  background-color: $gray;
  padding: 10px;
  &.app {
    position: fixed;
  }
  .nav {
    position: relative;
    .fa-1bx { font-size: 1.5em; }
    a { padding: 5px 10px; }
  }
  .undernav {
    padding-top: 10px;
    .emoji-pane {
      height: 170px;
      overflow-y: scroll;
    }
  }
  .emoji-injector {
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
  }
}

#newmessage {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 100%;
  color: whitesmoke;
  position: fixed;
  background-color: #e2202c;
  z-index: 2;
  padding: 9px 12px;
  top: 10px;
  right: 10px;
}

#newmessage.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}

@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}


#newmessage.ng-hide-remove {
  -webkit-animation:0.3s show;
  animation:0.3s show;
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}

/*** BEAMER ***/
body.beamer {
  font-size: 22px;
  #wrapper { text-align: center; }
  .chat-pane { text-align: left; }
  .chatscreen {
    border-radius: 5px;
    display: inline-block;
    width: 500px;
    width:-moz-calc(50% - 40px);
    width:calc(50% - 40px);
    margin: 40px 20px 0px 20px;
    .chat-pane .message-pane .msg {
      max-width: 90%;
    }
  }
}

/*** ADMIN ***/
.modal-background {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);;
  z-index: 4;
  position: fixed;
  display: none;
}
.loading-content {
    top: 32%;
    left: -100px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-left: 50%;
    position: absolute;
}

.loading-circle {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: transparent;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 1px solid #FFF;
    border-bottom: 0;

    -webkit-animation: loading 1.5s linear infinite;
    animation: loading 1.5s linear infinite;

    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
}

@-webkit-keyframes loading {
    from {
    	-ms-transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
    }
    to {
    	-ms-transform: rotate(360deg);
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
    }
}

@keyframes loading {
    from {
    	-ms-transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
    }
    to {
    	-ms-transform: rotate(360deg);
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
    }
}
