/*** VARIABLES ***/
/*** GENERAL ***/
/* line 23, ../sass/style.scss */
body {
  background-color: #EBE8D7;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #42574B;
}
/* line 25, ../sass/style.scss */
body.beamer {
  background-color: black;
}

/* line 30, ../sass/style.scss */
a {
  color: #4A8262;
}

/* line 33, ../sass/style.scss */
.app.list-group-item a {
  display: inline-block;
  width: calc(100vw - 65px);
  width: -moz-calc(100vw - 65px);
}

/* line 38, ../sass/style.scss */
.btn-success {
  background-color: #4A8262;
}

/* line 41, ../sass/style.scss */
.emoji {
  width: 28px;
  max-height: 45px;
}

/*** APP ***/
/* line 48, ../sass/style.scss */
body.app .list-group-item a {
  display: inline-block;
  width: calc(100vw - 65px);
  width: -moz-calc(100vw - 65px);
}

/*** MODAL ***/
/* line 57, ../sass/style.scss */
.modal .modal-dialog {
  width: 80%;
}
/* line 60, ../sass/style.scss */
.modal .vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
/* line 66, ../sass/style.scss */
.modal .vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}
/* line 72, ../sass/style.scss */
.modal .modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}
/* line 80, ../sass/style.scss */
.modal .modal-body {
  text-align: center;
}
/* line 82, ../sass/style.scss */
.modal .modal-body img {
  display: inline;
}

/*** NAVIGATION ***/
/* line 89, ../sass/style.scss */
.username {
  background-color: #999;
  color: white;
  text-align: center;
  height: 20px;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 99, ../sass/style.scss */
.nav {
  background-color: #EBE8D7;
  width: 100%;
}
/* line 102, ../sass/style.scss */
.nav.app {
  position: fixed;
  z-index: 1;
  top: 20px;
}
/* line 107, ../sass/style.scss */
.nav.nav-pills {
  border-bottom: 1px solid #ddd;
}
/* line 109, ../sass/style.scss */
.nav.nav-pills li.active a {
  background-color: #4A8262;
}
/* line 113, ../sass/style.scss */
.nav .participation-button {
  padding: 10px 15px;
  background-color: #4A8262;
  color: white;
}

/*** CONTENT ***/
/* line 121, ../sass/style.scss */
.chatscreen {
  background: url("/images/giftly.png") repeat scroll 0 0;
}

/* line 124, ../sass/style.scss */
.undernav.app {
  padding-top: 64px;
}
/* line 127, ../sass/style.scss */
.undernav.app.chat-selector li.closed {
  display: none;
}

/* line 133, ../sass/style.scss */
.chat-pane [scroll-glue] {
  overflow-y: scroll;
}
/* line 137, ../sass/style.scss */
.chat-pane .message-pane.app {
  height: calc(100vh - 160px);
  height: -moz-calc(100vh - 160px);
  /*.csscalc.cssvhunit & {
    height: 80vh;
  }*/
}
/* line 140, ../sass/style.scss */
.no-csscalc.no-cssvhunit .chat-pane .message-pane.app {
  height: 80vh;
}
/* line 147, ../sass/style.scss */
.chat-pane .message-pane.beamer, .chat-pane .message-pane.beamer2 {
  height: calc(100vh - 122px);
  height: -moz-calc(100vh - 122px);
}
/* line 151, ../sass/style.scss */
.chat-pane .message-pane.admin, .chat-pane .message-pane.admin2 {
  max-height: 625px;
}
/* line 154, ../sass/style.scss */
.chat-pane .message-pane.app {
  margin-top: 60px;
}
/* line 155, ../sass/style.scss */
.chat-pane .message-pane ul {
  padding: 0px;
}
/* line 158, ../sass/style.scss */
.chat-pane .message-pane li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}
/* line 163, ../sass/style.scss */
.chat-pane .message-pane .self {
  justify-content: flex-end;
  align-items: flex-end;
}
/* line 167, ../sass/style.scss */
.chat-pane .message-pane .msg {
  background-color: #fff;
  min-width: 50px;
  padding: 10px;
  border-radius: 2px;
  max-width: 85%;
}
/* line 173, ../sass/style.scss */
.chat-pane .message-pane .msg .user {
  font-size: 14px;
  color: #999;
  font-weight: bold;
}
/* line 178, ../sass/style.scss */
.chat-pane .message-pane .msg .text {
  margin: 5px 0;
}
/* line 181, ../sass/style.scss */
.chat-pane .message-pane .msg .date {
  font-size: 12px;
  color: #999;
}
/* line 186, ../sass/style.scss */
.chat-pane .message-pane .Marta .msg {
  background-color: #fceac2;
}
/* line 187, ../sass/style.scss */
.chat-pane .message-pane .Xavi .msg {
  background-color: #afffd7;
}
/* line 188, ../sass/style.scss */
.chat-pane .message-pane .Jose .msg {
  background-color: #f9ff91;
}
/* line 189, ../sass/style.scss */
.chat-pane .message-pane .Lolo .msg {
  background-color: #ffc9ff;
}
/* line 190, ../sass/style.scss */
.chat-pane .message-pane .Mari .msg {
  background-color: #dbffb2;
}
/* line 191, ../sass/style.scss */
.chat-pane .message-pane .Lina .msg {
  background-color: #f5ffaa;
}
/* line 192, ../sass/style.scss */
.chat-pane .message-pane .Laia .msg {
  background-color: #ccf6ff;
}
/* line 193, ../sass/style.scss */
.chat-pane .message-pane .Jessi .msg {
  background-color: #8ffcbb;
}
/* line 194, ../sass/style.scss */
.chat-pane .message-pane .Mario .msg {
  background-color: #edfcab;
}
/* line 195, ../sass/style.scss */
.chat-pane .message-pane .Antonio .msg {
  background-color: #bfffb2;
}
/* line 196, ../sass/style.scss */
.chat-pane .message-pane .Paula .msg {
  background-color: #a1fcde;
}
/* line 197, ../sass/style.scss */
.chat-pane .message-pane .Lourdes .msg {
  background-color: #fceac2;
}
/* line 198, ../sass/style.scss */
.chat-pane .message-pane .Pere .msg {
  background-color: #afffd7;
}
/* line 200, ../sass/style.scss */
.chat-pane .message-pane .self .msg {
  border-bottom-right-radius: 0px;
  box-shadow: 1px 2px 0px #c1cbcd;
  background-color: #aefcb2;
}
/* line 205, ../sass/style.scss */
.chat-pane .message-pane .other .msg {
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #c1cbcd;
}
/* line 209, ../sass/style.scss */
.chat-pane .message-pane .other:before {
  content: "";
  position: relative;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  border: 5px solid #fff;
}
/* line 218, ../sass/style.scss */
.no-flexbox .chat-pane .message-pane .other:before {
  display: none;
}
/* line 222, ../sass/style.scss */
.chat-pane .message-pane .Marta:before {
  border: 5px solid #fceac2;
}
/* line 223, ../sass/style.scss */
.chat-pane .message-pane .Xavi:before {
  border: 5px solid #afffd7;
}
/* line 224, ../sass/style.scss */
.chat-pane .message-pane .Jose:before {
  border: 5px solid #f9ff91;
}
/* line 225, ../sass/style.scss */
.chat-pane .message-pane .Lolo:before {
  border: 5px solid #ffc9ff;
}
/* line 226, ../sass/style.scss */
.chat-pane .message-pane .Mari:before {
  border: 5px solid #dbffb2;
}
/* line 227, ../sass/style.scss */
.chat-pane .message-pane .Lina:before {
  border: 5px solid #f5ffaa;
}
/* line 228, ../sass/style.scss */
.chat-pane .message-pane .Laia:before {
  border: 5px solid #ccf6ff;
}
/* line 229, ../sass/style.scss */
.chat-pane .message-pane .Jessi:before {
  border: 5px solid #8ffcbb;
}
/* line 230, ../sass/style.scss */
.chat-pane .message-pane .Mario:before {
  border: 5px solid #edfcab;
}
/* line 231, ../sass/style.scss */
.chat-pane .message-pane .Antonio:before {
  border: 5px solid #bfffb2;
}
/* line 232, ../sass/style.scss */
.chat-pane .message-pane .Paula:before {
  border: 5px solid #a1fcde;
}
/* line 233, ../sass/style.scss */
.chat-pane .message-pane .Lourdes:before {
  border: 5px solid #fceac2;
}
/* line 234, ../sass/style.scss */
.chat-pane .message-pane .Pere:before {
  border: 5px solid #afffd7;
}
/* line 235, ../sass/style.scss */
.chat-pane .message-pane .other:before {
  border-left-color: transparent;
  border-bottom-color: transparent;
}
/* line 239, ../sass/style.scss */
.chat-pane .message-pane .self:after {
  content: "";
  position: relative;
  display: inline-block;
  float: right;
  bottom: 0px;
  right: 0px;
  width: 0px;
  height: 0px;
  border: 5px solid #aefcb2;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 0px 2px 0px #c1cbcd;
}
/* line 252, ../sass/style.scss */
.no-flexbox .chat-pane .message-pane .self:after {
  display: none;
}
/* line 256, ../sass/style.scss */
.chat-pane .message-pane .label {
  font-size: 1em;
  margin: 10px auto 0px;
}

/* line 262, ../sass/style.scss */
.chat-form {
  height: 50px;
  margin-top: 10px;
  padding: 0 15px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
/* line 269, ../sass/style.scss */
.chat-form .emoji-button {
  color: #999;
  background-color: transparent;
  padding-left: 0px;
  width: 33px;
  display: inline;
}
/* line 276, ../sass/style.scss */
.chat-form input {
  width: -moz-calc(100% - 77px);
  width: calc(100% - 77px);
  height: 39px;
}
/* line 281, ../sass/style.scss */
.chat-form .text-field,
.chat-form .text-input {
  width: -moz-calc(100% - 44px);
  width: calc(100% - 44px);
  min-height: 39px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  padding: 8px 3px;
  display: inline;
}
/* line 285, ../sass/style.scss */
.no-csscalc .chat-form .text-field, .no-csscalc
.chat-form .text-input {
  width: 200px;
}
/* line 297, ../sass/style.scss */
.chat-form .text-field.non-editable,
.chat-form .text-input.non-editable {
  width: 100%;
  background-color: #EBE8D7;
}
/* line 302, ../sass/style.scss */
.chat-form button {
  width: 44px;
  height: 41px;
  border: none;
  display: inline;
}

/* line 309, ../sass/style.scss */
.emoji-selector {
  display: none;
  bottom: 0px;
  height: 225px;
  width: 100%;
  background-color: #EBE8D7;
  padding: 10px;
}
/* line 316, ../sass/style.scss */
.emoji-selector.app {
  position: fixed;
}
/* line 319, ../sass/style.scss */
.emoji-selector .nav {
  position: relative;
}
/* line 321, ../sass/style.scss */
.emoji-selector .nav .fa-1bx {
  font-size: 1.5em;
}
/* line 322, ../sass/style.scss */
.emoji-selector .nav a {
  padding: 5px 10px;
}
/* line 324, ../sass/style.scss */
.emoji-selector .undernav {
  padding-top: 10px;
}
/* line 326, ../sass/style.scss */
.emoji-selector .undernav .emoji-pane {
  height: 170px;
  overflow-y: scroll;
}
/* line 331, ../sass/style.scss */
.emoji-selector .emoji-injector {
  width: 40px;
  height: 40px;
  text-align: center;
  float: left;
}

/* line 339, ../sass/style.scss */
#newmessage {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 100%;
  color: whitesmoke;
  position: fixed;
  background-color: #e2202c;
  z-index: 2;
  padding: 9px 12px;
  top: 10px;
  right: 10px;
}

/* line 353, ../sass/style.scss */
#newmessage.ng-hide-add {
  -webkit-animation: 0.5s hide;
  animation: 0.5s hide;
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
/* line 387, ../sass/style.scss */
#newmessage.ng-hide-remove {
  -webkit-animation: 0.3s show;
  animation: 0.3s show;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*** BEAMER ***/
/* line 421, ../sass/style.scss */
body.beamer {
  font-size: 22px;
}
/* line 423, ../sass/style.scss */
body.beamer #wrapper {
  text-align: center;
}
/* line 424, ../sass/style.scss */
body.beamer .chat-pane {
  text-align: left;
}
/* line 425, ../sass/style.scss */
body.beamer .chatscreen {
  border-radius: 5px;
  display: inline-block;
  width: 500px;
  width: -moz-calc(50% - 40px);
  width: calc(50% - 40px);
  margin: 40px 20px 0px 20px;
}
/* line 432, ../sass/style.scss */
body.beamer .chatscreen .chat-pane .message-pane .msg {
  max-width: 90%;
}

/*** ADMIN ***/
/* line 439, ../sass/style.scss */
.modal-background {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  position: fixed;
  display: none;
}

/* line 447, ../sass/style.scss */
.loading-content {
  top: 32%;
  left: -100px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-left: 50%;
  position: absolute;
}

/* line 457, ../sass/style.scss */
.loading-circle {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: transparent;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 1px solid #FFF;
  border-bottom: 0;
  -webkit-animation: loading 1.5s linear infinite;
  animation: loading 1.5s linear infinite;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}

@-webkit-keyframes loading {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
