include mixins
doctype
html(lang="ca" )
  head
    title="1000Likes"
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/libs/angular/angular.js')
    script(src='/libs/angular-cookies/angular-cookies.js')
    script(src='/libs/angular-sanitize/angular-sanitize.js')
    script(src='/libs/angular-translate/angular-translate.min.js')
    script(src='/libs/twemoji/twemoji.js')
    script(src='/libs/angular-twemoji/dist/angular-twemoji.js')
    script(src='/libs/angular-scroll-glue/src/scrollglue.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/admin.js')
    script(src='/js/functions.js')
  body(ng-app="1000likes", ng-controller="AdminController as Ctrl")
    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/jquery-resize/jquery.ba-resize.min.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/jquery-script.js')
    .loading.modal-background
      .loading-content
        .loading-circle
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand
            | 1000Likes - Administració
        .collapse.navbar-collapse.navbar-right
          | Idioma &nbsp;
          select(ng-model="language", ng-change="Ctrl.languageUpdate()")
            option(value="ca", ng-selected="language=='ca'") Català
            option(value="es", ng-selected="language=='es'") Castellà
          | Estat general &nbsp;
          select(ng-model="bulk_status", ng-change="Ctrl.bulkUpdate()")
            option(value=0, ng-selected="bulk_status==0") Lectura
            option(value=1, ng-selected="bulk_status==1") Pot demanar permís
            option(value=2, ng-selected="bulk_status==2") Bloquejat
            option(value=3, ng-selected="bulk_status==3") Accés total
          | &nbsp;
          button.btn.btn-default.navbar-btn.btn-primary(ng-class="{disabled: beamerchats.beamer == null}", ng-click='beamerchats.beamer == null || Ctrl.sendToBeamer(beamerchats.beamer.id1, beamerchats.beamer.id2, "beamer")')
            i.fa.fa-desktop.fa-1x
            span(ng-show='beamerchats.beamer')
              | &nbsp; {{beamerchats.beamer.id1}} - {{beamerchats.beamer.id2}}
          | &nbsp;
          button.btn.btn-default.navbar-btn.btn-info(ng-class="{disabled: beamerchats.beamer2 == null}", , ng-click='beamerchats.beamer2 == null || Ctrl.sendToBeamer(beamerchats.beamer2.id1, beamerchats.beamer2.id2, "beamer2")')
            i.fa.fa-desktop.fa-1x
            span(ng-show='beamerchats.beamer2')
              | &nbsp; {{beamerchats.beamer2.id1}} - {{beamerchats.beamer2.id2}}
    .container
      .row
        .col-md-8
          .panel.panel-primary
            .panel-heading
              | Carregar converses
            .panel-body
              include ./admin/defaults.jade
          .panel.panel-primary
            .panel-heading
              | Monitor
            .panel-body
              include ./admin/monitor.jade
        .col-md-4
          .panel.panel-primary
            .panel-heading
              | Participació
            .panel-body
              include ./admin/participation.jade
      .row
        .col-md-6
          .panel.panel-primary
            .panel-heading
              | Usuaris
            .panel-body
              include ./admin/structures.jade
        .col-md-6
          .panel.panel-primary
            .panel-heading
              | Visualitzador
            .panel-body
              include ./admin/chat-screen.jade
